

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.all-products {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
}

.all-products .product {
    margin: 5px;
    padding: 7px;
    text-align: center;
    box-shadow: 1px 2px 2px 1px;
}
.product h2 {
    margin: 10px 0;
    
}
.product p {
    line-height: 1.6;   
}
.product span {
    display: block;
    margin: 15px 0;
}
.all-products .product img {
    width: 20%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}