@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
  box-sizing: border-box;
}

.all-card {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.all-card .card {
  margin: 7px;
  padding: 5px;
  background-color: #fefefe;
  text-align: center;
  box-shadow: 1px 2px 3px 1px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.card img {
  width: 100%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.card ul {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5 10px;
  padding: 8px;
}
.card ul li {
  color: #aaa;
  font-size: 17px;
}
.card ul li:first-child span {
  color: green;
}
.card ul li:nth-child(2) span {
  color: red;
}
.card ul li:last-child span {
  color: #0075ff;
}


.tags li {
  background-color: #0075ff;
  color: #fff !important;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px;
}

form input {
  padding: 5px;
  outline: none;
  border: none;
}

form input:hover {
  border-bottom: 1px solid;
}

form button {
  color: #fff;
  background-color: #0075ff;
  padding: 7px 10px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}